* {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}
body {
  position: relative;
  background-color: #ABABA9;
  /* background-image: url(https://wallpaper-house.com/data/out/12/wallpaper2you_513325.jpg); */
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 4% 1fr auto 4%;
  grid-template-rows: 50px 1fr auto;
  grid-template-areas:
  ". header header ."
  ". main-left main-right ."
  ". footer footer ."
  ;
}
div {
  background-color: #EBD5B3;
}
table {
  border: "0";
  border-style: none;
  cellspacing="0";
  cellpadding="0";
  border-collapse: collapse;
  border-spacing: 0px;
}
table, td {
  font-size: "0";
  border: "0";
  border-collapse: collapse;
  height: 50px;
  width: 50px;
  cellspacing="0";
  padding: 0px 1px 0px 1px;
  border-spacing: 0px;
}
#Headline {

  box-sizing: border-box;
  grid-area: header;
  grid-column-end: span 2;
  padding: 20px;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
#Login {
  grid-area: header;
  right: 0px;
  width: auto;
  align-self: center;
  justify-self: right;
  z-index: 2;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas:
  "login-cred login-buttons"

  ;
}
.login-cred {
  grid-area: login-cred;
}
.login-buttons {
  grid-area: login-buttons;
}
#body {
  top: 60;
  width: 800px;
  max-width: 1850px;
  height: 600px;
  z-index: 0;
}
#game {
  grid-area: main-left;
  padding: 20px;
  width: auto;
  overflow: auto;
  z-index: 0;
}
#gamephase{
  background: none;
  grid-area: main-left;
  width: 300;
  height: 20;
  z-index: 1;
}
#status {
  grid-area: main-right;
  padding: 20px;
  width: 250px;
  right: 15px;
  top: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px 1fr ;
  grid-template-areas:
  "unit-avatar unit-name"
  "action-buttons unit-stats";

}
.action-buttons {
  width: 100%;
  margin-bottom: 5px;
}
.unit-avatar {
  width: 100%;
  height: 100%;
}
#unit-name{
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
#unit-stats{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 65px 45px;
  grid-template-areas:
  "unit-stats-title"
  "unit-stats-main"
  "unit-stats-sec"
}
.unit-stats-title {
  width: 100%;
  height: 100%;
}
#unit-stats-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.main-stats {
  width: 100%;
  height: 100%;
}
#unit-stats-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.sec-stats {
  width: 100%;
  height: 100%;
}
#signup {
  grid-area: main-left;
  grid-column-end: span 2;
  padding: 20px;
}
#footer {
  grid-area: footer;
  height: 200px;
  /* background: none; */
}
