* {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #ABABA9;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 4% 1fr auto 4%;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-areas:
  ". header header ."
  ". main-left main-right ."
  ". footer-left footer-right ."
  ;
}
div {
  background-color: #8A8A88;
}
table {
  border: "0";
  border-style: none;
  cellspacing="0";
  cellpadding="0";
  border-collapse: collapse;
  border-spacing: 0px;
}
table, td {
  font-size: "0";
  border: "0";
  border-collapse: collapse;
  height: 50px;
  width: 50px;
  cellspacing="0";
  padding-top: 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  border-spacing: 0px;
}
#Headline {
  grid-area: header;
  grid-column-end: span 2;
  padding: 20px;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
#Login {
  grid-area: header;
  right: 0px;
  width: auto;
  align-self: center;
  justify-self: right;
  z-index: 2;

  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas:
  "login-cred login-buttons"

  ;
}
.login-cred {
  grid-area: login-cred;
}
.login-buttons {
  grid-area: login-buttons;
}
#body {
  top: 60;
  width: 800px;
  height: 600px;
  z-index: 0;
}
#game {
  grid-area: main-left;
  padding: 20px;
  width: auto;
  overflow: auto;
  z-index: 0;
}
#gamephase{
  background: none;
  grid-area: main-left;
  width: 300;
  height: 20;
  z-index: 1;
}
#gombok {
  grid-area: main-right;
  padding: 20px;
  width: 250px;
  right: 15px;
  top: 0;
}
#signup {
  grid-area: main-left;
  grid-column-end: span 2;
  padding: 20px;
}
